<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VirtualTourist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>58DF21E31EBA57370087140D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DF21FA1EBA57380087140D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58DF22051EBA57380087140D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
